.country-button-name-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #94a3b8;
}
p {
  color: #ffffff;
  margin: 30px;
  font-size: 20px;
}
.button-container {
  align-self: center;
  margin: 30px;
}
.visit-button {
  background-color: #3b82f6;
  height: 40px;
  width: 80px;
  color: #ffffff;
  font-family: roboto;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.visited-button {
  color: #94a3b8;
  font-family: roboto;
  font-size: 20px;
  background-color: transparent;
  border: solid 0px;
}
